@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto-condensed', sans-serif;
}
body {
    color: #ffffff;
    flex-direction: column-reverse;
    display: flex;
    min-height: 12vh;
}
header {
    background-color: #ffffff;
    color: black;
            padding: 1rem;
        position: fixed;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        vertical-align: baseline;
        width: 100%;
        top: 0%;
        font-family: 'roboto-condensed', sans-serif;
        font-weight: bolder;
        flex-direction: row;
        
}
#site-logo {
    padding: 2rem;
}
#nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: inset;
    display: none;
    top: 100%;
    font-family: 'roboto-condensed',
            sans-serif;
}
a:-webkit-any-link {
    color: #3a3a3a;
    cursor: pointer;
    text-decoration: none;  
}
#nav-tool:checked~nav {
    display: block;
}
#nav-tool {
    display: none;
}
#menu {
    list-style-type: none;
    letter-spacing: 3px;
}
#nav li {
        text-decoration: none;
            color: inherit;
            display: inline-block;
}
#menu>li {margin-bottom: 1em;}
.active {
    border-bottom: 1px solid #0000ee;
}
#contact-column {
    padding: 1rem;
    margin-top: 136px;
}
#gutter-clean {
    background: url("../images/istockphoto-1189576247-612x612.jpg") no-repeat center center/cover;
    max-width: 100%;
    height: 300px;
    }
    #quote {
                background-color: black;
                justify-content: center;
                display: flex;
                text-decoration: solid;
                    }
main {
    top: 10%;
margin-top: 136px;
        background-color: #070256;
        font-family: 'roboto-condensed', sans-serif;
}
section> p1 {
    display: block;
    max-width: 30%;
    margin-left: 1rem;
    letter-spacing: 2px;
}
main> h2 {
    margin: 1rem; 
    text-decoration: underline;
        justify-content: space-between;
        text-align: left;
        }
    
footer {
    background-color: orangered;
    top: 100%;
    
    }
   
    
