@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto-condensed', sans-serif;
}
body {
    color: #ffffff;
    flex-direction: column-reverse;
    display: flex;
    min-height: 12vh;
}
header {
    background-color: #ffffff;
    color: black;
            padding: 1rem;
        position: fixed;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        vertical-align: baseline;
        width: 100%;
        top: 0%;
        font-family: 'roboto-condensed', sans-serif;
        font-weight: bolder;
        flex-direction: row;
        
}
#site-logo {
    padding: 2rem;
}
#nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: inset;
    display: none;
    top: 100%;
    font-family: 'roboto-condensed',
            sans-serif;
}
a:-webkit-any-link {
    color: #3a3a3a;
    cursor: pointer;
    text-decoration: none;  
}
#nav-tool:checked~nav {
    display: block;
}
#nav-tool {
    display: none;
}
#menu {
    list-style-type: none;
    letter-spacing: 3px;
}
#nav li {
        text-decoration: none;
            color: inherit;
            display: inline-block;
}
#menu>li {margin-bottom: 1em;}
.active {
    border-bottom: 1px solid #0000ee;
}
#contact-column {
    padding: 1rem;
    margin-top: 136px;
}
#time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: #ffffff;
    background-color: #3a3a3a;
    text-decoration: solid;
    }
#photo {
    display:flex;
    flex-direction: row;
    width: 100%;
    max-height: 300px;
}
#gutter-clean {
    background: url("../images/IMG-9779.jpg") no-repeat left center/cover;
    width: 50%;
    height: 300px;
    justify-content: left;
    
    }
        #gutter-after {
            background: url("../images/IMG-9780.jpg") no-repeat right/cover;
            height: 300px;
            width: 50%;
            
        }
    #quote {
                background-color: #3a3a3a;
                justify-content: center;
                display: flex;
                text-decoration: solid;
                    }
    #quote> a  {
        color: #ffffff;
    }
main {
    top: 10%;
margin-top: 136px;
        background-color: #070256;
        font-family: 'roboto-condensed', sans-serif;
}
#home-para {
    display: flex;
        margin-left: 1rem;
    letter-spacing: 2px;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
}
p1 {
    margin-right: 15%;
}
#what {margin-right: 10%;
margin-left: 10%;}
#why {
    margin-right: 10%;
    margin-left: 10%;
}
#home-head {
    margin-top: 1rem; 
    text-decoration: underline;
        justify-content: space-evenly;
        text-align: left;
        display: flex;
        flex-direction: row;
        word-spacing: 3px;
                }

    
footer {
    background-color: orangered;
    top: 100%;
        }
   
    
