@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #ffffff;
    flex-direction: column-reverse;
    display: flex;
    min-height: 12vh;
}
header {
    background-color: #ffffff;
    color: #3a3a3a;
        padding: 1rem;
        position: fixed;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        vertical-align: baseline;
        width: 100%;
        top: 0%;
        font-family: 'roboto-condensed', sans-serif;
        font-weight: bolder;
}
#site-logo {
    padding: 2rem;
}
#nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: inset;
    display: none;
    top: 100%;
    font-family: 'roboto-condensed',
            sans-serif;
}
a:-webkit-any-link {
    color: #3a3a3a;
    cursor: pointer;
    text-decoration: none;  
}
#nav-tool:checked~nav {
    display: block;
}
#nav-tool {
    display: none;
}
#menu {
    list-style-type: none;
    letter-spacing: 3px;
}
#nav li {
        text-decoration: none;
            color: inherit;
            display: inline-block;
}
#menu>li {margin-bottom: 1em;}
.active {
    border-bottom: 1px solid #0000ee;
}
#contact-column {
    padding: 1rem;
    margin-top: 136px;
}
main {
    top: 10%;
margin-top: 136px;
        background-color: #3a3a3a;
}
footer {
    background-color: orangered;
    top: 100%;
    }
   
    
