* {
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #3a3a3a;
    flex-direction: column-reverse;
    display: flex;
    min-height: auto;
}
header {
    color: #3a3a3a;

}
main {
    color: #ffffff;
}
footer {
    color: #ffffff;
    
}
#name {
    color: #3a3a3a;
        margin-top: auto;
        padding: 0 3rem;
        position: absolute;
        z-index: 99;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    
}